.character-section {
  flex: 1;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #4b4b4b, #000000);
  position: relative;
  overflow: hidden; // Keeps the canvas contained
  min-height: 30vh;

  .three-canvas {
    width: 100%;
    height: 100%;
    display: block; // Removes default inline spacing
    outline: none;
  }

  .level-badge {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--ion-color-primary);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    z-index: 10;
  }


  .xp-badge {
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    gap: 5px;
    background: #303030;
    padding: 5px 12px;
    border-radius: 20px;
    border: 1px solid #4b60ff;

    span {
      font-weight: bold;
      color: #f57f17;
    }
  }
}
