<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="dashboard">
      <ion-icon name="home"></ion-icon>
      <ion-label>Main</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inventory">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Inventory</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="character">
    <ion-icon name="person-circle-outline"></ion-icon>
    <ion-label>Raider</ion-label>
  </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
