.split-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* Prevent body scroll */
}


.character-section {
  flex: 1;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #e0f7fa, #000000);
  position: relative;
  overflow: hidden; // Keeps the canvas contained
  min-height: 40vh;

  .three-canvas {
    width: 100%;
    height: 100%;
    display: block; // Removes default inline spacing
    outline: none;
  }

  .level-badge {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--ion-color-primary);
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    z-index: 10;
  }


  .xp-badge {
    position: absolute;
    top: 0;
    right: 0;
    align-items: center;
    gap: 5px;
    background: #303030;
    padding: 5px 12px;
    border-radius: 20px;
    border: 1px solid #4b60ff;

    span {
      font-weight: bold;
      color: #f57f17;
    }
  }
}


.habits-section {
  /* --- SCROLLING MAGIC --- */
  overflow-y: auto; /* Allows this specific box to scroll */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  flex: 1;
  background: #000000;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 -5px 20px rgba(0,0,0,0.05);
  padding: 20px;
  margin-top: -20px;
  z-index: 10; // Higher than character section
  padding-bottom: 100px;
}

.habit-item {
  margin-bottom: 0px; /* Reset this, let the sliding wrapper handle spacing */
  --border-radius: 12px;
  border-radius: 12px;
  --color: white; /* White text for all */

  /* 1. Low Loot (Common) - Dark Slate/Grey */
  &.rarity-low {
    --background: #37474f;
    border: 1px solid #546e7a;
  }

  /* 2. Medium Loot (Rare) - Deep Blue */
  &.rarity-medium {
    --background: #1565c0;
    border: 1px solid #42a5f5;
  }

  /* 3. High Loot (Legendary) - Deep Gold/Orange */
  &.rarity-high {
    --background: #5d144b;
    border: 1px solid #ff00e6;
  }
}

/* Add spacing to the wrapper so the items don't stick together */
ion-item-sliding {
  margin-bottom: 12px;
  background: transparent;
  border-radius: 12px;
}
.habit-list {
  border-radius: 10px;
}

.streak-chip {
  display: inline-flex;
  align-items: center;
  gap: 5px;

  /* Glass effect: See-through white */
  background: rgba(255, 255, 255, 0.2);

  padding: 4px 10px;
  border-radius: 20px; /* Pill shape */
  margin-top: 6px;
  width: fit-content;

  ion-icon {
    font-size: 14px;
    color: #ffca28; /* Flame Color (Amber) */
  }

  span {
    font-size: 12px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.5px;
  }
}
