<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Daily Tracker</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
    <app-three-background [effect]="currentEffect"></app-three-background>

  <div class="close-container">
    <ion-button routerLink="/tabs/dashboard" fill="clear" size="large">
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </div>

  <div class="container">

    <div class="streak-circle-container">
      <div class="streak-circle">
        <ion-icon name="flame" color="warning"></ion-icon>
        <h1 style="color: rgb(0, 0, 0);">{{ currentStreak }}</h1>
        <p>DAY STREAK</p>
      </div>
    </div>

    <div class="week-container">
      <h3>This Week</h3>

      <div class="week-grid">
        <div *ngFor="let day of weekProgress" class="day-column" [class.today]="day.isToday">

          <span class="day-label">{{ day.name }}</span>

          <div class="status-icon">
            <ion-icon
              *ngIf="day.visited"
              name="checkmark-circle"
              color="success">
            </ion-icon>

            <ion-icon
              *ngIf="!day.visited"
              name="ellipse-outline"
              color="medium">
            </ion-icon>
          </div>

        </div>
      </div>
    </div>

    <!-- <ion-button (click)="toggleEffect()">
      Switch Background
    </ion-button> -->

  </div>


</ion-content>
